{% extends "base.html" %}

{% block content %}
    <!-- Encabezado -->
    {% include "components/header.html" %}

    <!-- Contenedor del Formulario -->
    <div id="form-container">
        {% include "components/form.html" %}
    </div>

    <!-- Animación de carga -->
    <div id="loading-container" class="hidden">
        {% include "components/loading.html" %}
    </div>

    <!-- Resultados -->
    <div id="result-container" class="hidden">
        {% include "components/results.html" %}
    </div>
{% endblock %}